html {
    font-size: 16px;
}

* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    border: 2px dotted red;
    overflow-x: hidden;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}

div {
    display: block'

}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.1;
}

.nav-bar {
    background-color: transparent;
    padding: 1.5em;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    width: 100%;
    color: #f0f0f0;
}

.logo img {
    display: block;
    height: 31px;
    width: 155px;
}

.main-menu {
    list-style-type: none;
    display: flex;
}

.main-menu li a {
    font-size: 1rem;
    margin: 10px;
    text-decoration: none;
    color: white;
}

.section-1 {
    background-image: url(img/bruce-hong-556211-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
}

.learn-more-btn {
    text-align: center;
    width: 100%;
    vertical-align: middle;
    margin: 5px;
    padding: 10px;
}

.blog-post {
    color: white;
    display: block;
    margin: 40px;
    padding: 50px;
}

.button-grn {
    background: #bdd436;
    border: 2px solid #bdd436;
    color: #FFF;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 1px;
    padding: 11px 36px;
    border-radius: 25px;
}

.button {
    display: inline-block;
    cursor: pointer;
    line-height: 1.428571429;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    width: 400px;
}

.heading {
    font-size: 8rem;
    display: block;
}

.sub {
    font-size: 18px;
    display: block;
    text-transform: none;
    margin-left: 20%;
    margin-right: 20%;
    position: relative;
    font-weight: 500;
}

.section-2 {
    background-color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px;
}

.blog-post-2 {
    margin: 20px;
    padding: 4px;
}

.blog-post-2 p {
    color: #717e82;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    margin-bottom: 0px;
}

.work-text {
    text-transform: uppercase;
    font-size: 42px;
    font-weight: 300;
    margin-top: 36px;
    color: #717e82;
}

.work-text em {
    font-weight: bold;
    color: #bdd436;
    font-style: normal;
}

.tools img {
    width: 96px;
    margin: 20px;
}

.section-3 {
    background-color: #ffffff;
    display: flex;
    justify-content: space-evenly;
    font-size: 10px;
    width: 100%;
    border: 5px solid black;
}

.section-3-container {
    width: 75%;
    display: flex;
    justify-content: space-evenly;
    border: 5px solid black;
}

.item {
    text-align: center;
}

.item img {
    display: block;
    width: 131px;
    height: 160px;
}

.item p {
    display: block;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    min-height: 300px;
    color: #97a2a8;
    position: relative;
}

.item p a {
    color: #c2d84a;
    text-decoration: none;
}

.orange {
    color: #ff7f3b;
}

.green {
    color: #bcd436;
}

@media only screen and (max-device-width: 1000px) and (min-device-width: 800px) {
    .nav-bar {
        background-color: transparent;
        display: flex;
        padding: 1.5em;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        color: #f0f0f0;
    }
    .logo img {
        display: block;
        float: left;
    }
    .main-menu {
        display: none;
    }
}

@media only screen and (max-device-width: 768px) {
    .button {
        width: 100%;
    }
    .nav-bar {
        background-color: white;
        display: flex;
        padding: 1.5em;
        justify-content: space-between;
        position: fixed;
        width: 100%;
        color: #f0f0f0;
    }
    .main-menu {
        display: none;
    }
    .blog-post {
        text-align: center;
    }
}